{% extends 'main.html' %}

{% block content %}
<style>
  .home-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
</style>

<div class="container-fluid">
  <div class="row row-cols-4">
    <div class="col-2 text-center">
      {% include 'base/topics_component.html' %}
    </div>
    <div class="col-7">
      <h1>Study Rooms</h1>
      <h5>{{rooms.count}} rooms available</h5>
      <div>
        {% include 'base/feed_component.html' %}
      </div>
    </div>
    <div class="col-3">
      {% include 'base/activity_component.html' %}
    </div>
  </div>
</div>

{% endblock %}