{% extends 'main.html' %}

{% block content %}
{% if page == 'login' %}
<div class="container mt-4">
  <h1>Login</h1>
  <form action="" method="POST">
    {% csrf_token %}

    <div class="mt-4">
      <label for="email">Email : </label>
      <input type="text" id="email" name="email" placeholder="e.g. dennis@email.com">
    </div>

    <div class="mt-4">
      <label for="password">Password : </label>
      <input type="password" id="password" name="password" placeholder="Password">
    </div>

    <button class=" btn btn-success mt-4" type="submit">Login</button>
  </form>

  <p class="fs-5 mt-3">Haven't signed up yet? <a href="{% url 'register' %}">Register</a></p>
  
</div>
{% else %}
<div class="container">
  <h1>Register</h1>
  <form action="" method="POST">
    {% csrf_token %}
  
    {% for field in form %}
    <div class="mt-4">
      <label for="room_name">{{ field.label }} : </label>
      {{ field }}
    </div>
    {% endfor %}
    <button class=" btn btn-success mt-4" type="submit">Register</button>
  </form>

  <p class="fs-5 mt-3">Already have an account?<a href="{% url 'login' %}">Login</a></p>
  
</div>
{% endif %}

{% endblock %}